//completed page styles
.steps-to-using {
  margin:0;
  padding-left: 40px;

  @include tab {
    width: 50%;
  }
  @include element(list-num) {
    float: left;
    vertical-align: initial;
    margin: 0px 0px 0px -40px;
  }

  @include element(item) {
    margin: 0px 40px 16px 0px;
    @include tab{
      width: 55%;
    }
    p{
      margin:0;
    }
  }
}

.steps-to-using + p {
  margin-top:40px;
  @include tab {
    width: 45%;
  }
}
