// Docs page

// Docs menu


.docs_menu_wrap{

    @include tab {
        display: flex;
    }
}


/// DOCS FLEX WRAPPER
.docs-wrapper{
  display: flex;
  flex-direction:column;

  @include tab {
    flex-direction: row;
  }
}
///DOCS CONTENT

.docs-content{
  width:100%;
  @include padding-all(40px, 0px, 40px, 0px);

  p + h3 {
    margin-bottom: 16px;
  }

  @include tab {
    width:75%;
    @include padding-all(40px, 40px, 40px, 40px);
  }

}
/// Docs sidebar nav
.docs-sidebar{
  display:flex;
  flex:1;
  flex-direction:column;
  background: palette(bg,dark);
  @include padding-all(40px, 0px, 40px, 0px);

    @include tab {
      flex: 1 1 25%;
      @include padding-all(40px, 0px, 40px, 40px);
      background: transparent;

    }

    @include element(list) {
      font-weight:bold;

      a{
        display:block;
        @include padding-all(5px, 20px, 5px, 10px);
        text-align:left;

        &:hover{
          background: palette(bg, base);
        }
      }

      @include element(ul) li {
        padding-left: 10px;
        margin-bottom: 0px;
      }
    }
}

.expand{
  display:none;

  @include tab {
    display:block;
  }
}

.expand-is-open{
  display: block !important;
  margin: 1px auto;
  @include animation('fadeIn .3s ease-in');

  @include element(list) a{
    text-align:center ;

    @include tab {
      text-align:left;
    }
  }


}

.docs-nav-trigger{
  background:palette(bg,dark);
  border:1px solid palette(bg,x-dark);
  border-radius: 4px;
  padding:14px 40px;
  text-align:center;
  margin:0px auto;
  display: block;
  @include fontSize(16px);

  &:hover{
    background:palette(bg,base);
    border:1px solid palette(grey,base);
  }

    @include tab {
      display: none;
    }
}

.trigger-sub-docs {
  padding: 0 10px;
  svg {
    stroke: $accent-color-red;
    width: 12px;
    position: relative;
    top: 2px;
    stroke-width: 3;
  }
}

.active-doc-nav {
  color: $accent-color-red;
  &:before {
    content: "";
    display: inline-block;
    height: 1px;
    width: 24px;
    background:palette(purple, light);
    position: relative;
    top: 0px;
    left: -10px;
  }
}
