//homepage specific styles

.macbook-zone{
	//display:none;
	position:relative;
	padding:50px 0;

	&:after{
		content: " ";
	//	background-image: linear-gradient(35deg,#17032B 15%, #211627 35%, #231a26 65%);
		background-image: linear-gradient(37deg, #14091e, #1e0b2b, #201527, #14091e);
		//(35deg,#14091E 15%, #201527 35%, #221926 65%, #211627 85%);

		border:10px solid   $main-bg;
		height: 180px;
		z-index: 1;
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: -1;
		//box-shadow: 0px 0px 80px rgba(#0f0f17, .75)inset;
		box-shadow: 10px 10px 40px rgba(15, 15, 23, 0.35);
		animation: bgAnim 8s ease-in-out infinite alternate;
		background-size: 800% 800%;


		@include small-landscape {
			height: 200px;
		}

			@include pretab {
				height: 240px;
			}

		@include tab {
			border:20px solid   $main-bg;
			height: 380px;
		}

			@include med {
				height: 480px;
				border-width:30px;
			}

			@include xl {
				height: 580px;
				border-width:40px;
			}

			@include dudeWTF {
				height: 680px;
				border-width:80px;
				border-bottom-width:40px;

			}
	}


		@include tab {
			display:block;
			height:100%;
			background:  $main-bg;
			z-index:-1;
		}

		@include med {
			height:100%;
			padding:100px 0;
		}

		@include lrg {
			padding:100px 0 100px;
		}

		@include dudeWTF {

			padding:180px 0 200px;

		}
}



.thedevicegoeshere{

	position:relative;
	top:40px;
	width:280px;
	margin:0 auto;

	@include small-landscape {
		width:420px;
	}

	@include pretab {
		width: 580px;
	}

	@include tab {
		top:70px;
		width:680px;
	}

	@include med {
		width: 800px;

	@include lrg {
		width:1100px;
	}

	@include dudeWTF {
		width:1820px;
		top:100px;
	}


		picture{
			position:relative;
			display: block;
			margin: 0 auto;

			img {
				display:block;
				margin: 0 auto;
				filter: drop-shadow(10px 5px 4px rgba(0, 0, 0, 0.2));
			}
		}
	}

}




.secondary-cta{
	display: flex;
	align-items:center;
	background:#FCFCF4;
	margin:0;
}


.secondary-cta__text {
	position:relative;

	p {
		text-align:center;
		@include fontSize(12px);
		padding:0px;
		margin:0;
		font-weight: $fwb;
		color: palette(text,base);
		line-height: 1.8;
		text-transform: uppercase;
		letter-spacing: 2px;
		transition: color .4s ease-in;
		position: relative;
		z-index: 2;
		font-weight:300;
		background-image:  -webkit-linear-gradient(65deg, #412852  35%, #53B4C4 50%, #7b4d99 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #564661;





		&:after {
	    background: none;
	    content: attr(data-text);
	    left: 0;
	    position: absolute;
	    top: 0;
	    z-index: -1;
			display:inline-block;
		}

		@include tab {
			@include fontSize(19px);
			line-height:2;
		}

		@include med {
			@include fontSize(22px);
			letter-spacing:2.25px;
		}

		@include lrg {
			@include fontSize(24px);
			letter-spacing:3.25px;
		}

		@include xl {
			@include fontSize(34px);
		}
	}

		&:before{
			@include before-top-deco(80px, 1px, 40px, palette(orange, base));
			margin:0px auto 60px auto;
			transition: width .75s ease-in;
			background: linear-gradient(35deg,#564661 45%, #7c618e 55%);
		}

		&:after{
			@include before-top-deco(80px, 1px, 40px, palette(orange, base));
			margin:60px auto 0px auto;
			transition: width .4s ease-in;
			background: linear-gradient(35deg,#564661 45%, #7c618e 55%);;
		}

		@include med {
			padding:0px 80px;
			line-height:1.6;
		}

		@include lrg {
			padding: 0px 100px;

			&:before{
				margin-bottom:80px;
			}

			&:after{
				margin-top:80px;
			}
		}
	}


.secondary-cta:hover .secondary-cta__text:before{
	width:120px;
	background: linear-gradient(35deg,#694e7c 45%, #793a96 55%);
	}
.secondary-cta:hover .secondary-cta__text:after{
	width:120px;
		background: linear-gradient(35deg,#694e7c 45%, #793a96 55%);
	}


///as seen section
.as-seen-on{
	background:  $main-bg;
	border-top:1px solid $white;
	padding:40px 40px;

	@include element(heading) {
		color: #746674;
	}

	@include tab {
		padding:60px 80px ;


	}
}
	.as-seen-on-inner-wrap {
		display: flex;
		flex-direction:row;
		flex-wrap: wrap;
		justify-content:space-around;
		padding:40px 0px ;


		.as-seen-on__cie {
			align-items:center;
			padding:20px 0;
			width:50%;

				@include tab {
					width:24%;
				}

			svg {
				width:60%;
				margin: 0 auto;
				fill:#746674;
				display:block;


				&.ibm{
					width:25%;
					position: relative;
					bottom:2px;
				}

				&.oreilly{
					width:50%;

						@include pretab {
							width:35%;
						}

						@include tab {
							width:40%;
						}
				}

			}
		}
	}
