h1,h2,h3,h4,h5,h6{
	font-family:$font-stack;
	letter-spacing:-.05px;
	margin-bottom:$margin-bottom-regular;
	line-height: 1;
	color: #231a26;
	//color:#302234;
	//color:#493556;
	//color:#42334c;
	//color: #412f4d;
	//color: #3b2947;
	color: #412852;
	//color: #24152C;
	color:$heading-color;
}

h1{
	@include fontSize(22px);

		@include tab {
			@include fontSize(26px);
		}

		@include lrg {
			@include fontSize(30px);
		}
}


h2{
	@include fontSize(20px);

		@include tab {
			@include fontSize(22px);
		}

		@include lrg {
			@include fontSize(24px);
		}
}

h3{
	@include fontSize(18px);

		@include tab {
			@include fontSize(20px);
		}
}

h4{
	@include fontSize(14px);
	margin-bottom: $margin-bottom-small;
}

h5{
	@include fontSize(14px);
	margin-bottom: $margin-bottom-small;
}

h6{
	@include fontSize(14px);
}
