html, body{
	height: 100%
}

body {
	background:$main-bg;
	color:$color-text;
 	@include fontSize(14px);
  font-family: $font-stack;
	line-height: $base-line-height;
	font-weight:500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@include animation('fadeIn .3s ease-in');

	 	@include tab {
	 		@include fontSize(16px);
	 	}

}
