//default styled for tables


table {
	@include fontSize(14px);
	margin:0 0 32px;
	padding:0;
	border-collapse: collapse;
	border-spacing: 0;
	clear: both;
	border:1px solid palette(bg, x-dark);

	@include tab {
		border: none;
		box-shadow: inset 1px 0 0 palette(grey, dark), inset -1px 0 0 palette(grey, dark), inset 0 -1px 0 0 palette(grey, dark);
	}

	@include med {
		width: 100%;
		box-shadow: none;
	}
}



caption {
  padding-bottom: 0.5em;
}

thead {
  tr {
    border-bottom: 1px palette(bg,dark) solid;
  }
}

tbody {
  tr {
    border-bottom: 1px solid palette(bg,x-dark) ;

    	&:first-of-type{
				border-top:2px solid  palette(bg,x-dark);
    	}
  }
  tr:last-child {
    border-bottom: 0;
  }

}


th {
display:none;

	@include med {
		border-right: 3px $main-bg solid;
		display: table-cell;
		text-align: left;
		width: 0.1%;
	}
}



td, th {
  text-align: left;
}

th {
  font-weight: 700;
  vertical-align: top;
	padding:1.25em 1em 3em;
}

td {
  font-weight: normal;
  vertical-align: top;
	display: inline-block;
  width:100%;
	vertical-align:top;
	padding:1.25em 1em;

	p {
		line-height:1.5em;
	}

		@include med {
			border-right: 2px $main-bg solid;
			width:auto;
		}

	ul, .table-link-to-agent, .log-time, div , h4, p, pre{
		width: 70%;
		float: right;
		margin: 0px;


		@include med {
			 float: none;
			 width: 100%;
		}
	}

	&:before{
		content:  attr(data-title)": ";
		text-align:left;
	//	width: 120px;
		padding:0px 10px;
		font-weight:$fwb;
		float:left;
		line-height: 1.5;

			@include med {
		 		display: none;
		 	}
		}

	@include med {
		display: table-cell;
	}
}

// Condensed table styles if needed
// -------------------------------------------------------------------------------
.table-condensed {
  td, th {
    padding: 0.25em 0.75em;
  }
}
