/// Agent editing

.agent-content, .agent-content-enter {
 @include animation('fadeIn .5s ease-in');
}

.agent-content-leave {
 @include animation('fadeout .4s ease-in');
}


.agent__heading-wrapper-appear {
 @include animation('basicSlideDown 1s ease-in');
}



.agent-content-appear{

 opacity:0;
}

.agent-content-appear-active{
 // opacity:1;
 @include animation('fadeIn 1.75s linear');
}



.app-page-appear {
 @include animation('fadeIn 10s linear');
}
.app-page-appear-active{
 opacity:1;

}

.agent-edit{
 max-width:1200px;
 margin: 2vh auto 2vh auto;
 border:1px solid palette(grey, dark);
 //background: #FFFEF7;
 position:relative;
 @include animation('fadeIn .3s ease-in');
}

.agent{
 position: relative;
 display: flex;
 flex-direction: column;
 padding:0;;

 @include element(heading) {
   padding:100px 0 20px;
   box-shadow: inset 0 -1px 0 0 #dce0e4;
   background: #FFFEF7;
   opacity:1;

   @include tab {
     padding:40px 0 20px;
   }
 }
 @include element(name) {
   position:relative;
   @include fontSize(24px);
   letter-spacing: 2px;
   font-weight: $fwn;
   @include padding-all(0, null, 0, 20px)


   @include pretab {
     @include padding-all(0, null, 0, 40px)
   }

   @include tab {
     @include fontSize(32px);
     width:50%;
     @include padding-all(0, null, 0, 40px)
   }

 }

 @include element(id) {
   @include fontSize(16px);
   letter-spacing: 1px;
   color: palette(purple, base);
   margin-bottom: $margin-bottom-small;
   font-weight: $fwn;
   font-family: $heading-stack;
 }


 @include element(description) {
   @include padding-all(0px, 20px, 0px, 20px)
   margin-bottom: 0px;

   p {
     &:before{
      @include before-top-deco(40px, 1px, null, $accent-color-red);
      margin: 30px 0;
     }
  }

  @include pretab {
   @include padding-all(0, 20px, 0, 40px);
  }

   @include tab {
     @include padding-all(0, 100px, 0, 40px)
     width:75%;
   }
 }


 @include element(new-rule) {
   background:#fafbf3;
   margin: 0px;
   padding: 0px;
   @include fontSize(14px);
}

.agent__new-rule-hide {
  display: none !important;
}

 @include element(select) {
   margin-right:1em;
   background:  url('/assets/i/plus.svg') 90% center no-repeat, url('/assets/i/onepx.gif') repeat-y 160px 0px palette(bg, dark) ;
   cursor: pointer;
   border:none;
   font-size:20px;
   padding-right:20px;
   position:relative;
   min-width:220px;

     &:after {
       content: "";
       display:inline-block;
       width:100px;
       height:100px;

     }

     option{
       background: palette(bg,base);
       color: $light-grey;
       padding: .5em;
       @include fontSize(12px);
       box-shadow: none;
     }
 }
}

.agent__settings-form{
 padding:20px;

   @include tab {
     padding:40px;
   }
}

.gear{
 width:16px;
 fill: $light-grey;
}

.agent-edit__footer{
 padding-top:10px;
 position:relative;
 height:60px;
 border-top:1px solid palette(grey, dark);

   @include tab {
     height:70px;
   }
}
.trash{
 position: absolute;
 width:60px;
 height:59px;
 background:palette(red,base);
 border-left:1px solid palette(grey, dark);
 bottom: 0px;
 right: 0px;
 display: flex;
 justify-content:center;

 @include tab {
   width:70px;
   height:69px;
 }
 svg{
   width:20px;
   fill: transparent;
   stroke: $main-bg;
 }
}

.test-agent-link{
 position: absolute;
 width:170px;
 height:69px;
 bottom: 0px;
 right: 70px;
 display: flex;
 justify-content:center;
 align-items:center;
 background:palette(bg, base);
 border-left:1px solid palette(grey, dark);
}

.output-wrapper{
 padding:40px 20px 0 0;
}


.save-cancel-action-wrap{
 margin-top:80px;
}

.secondary-settings-section {
 border-top: 1px solid  palette(grey, dark);
}


.performance-metric-unit{
 background: #F9F9F3;
 border: 1px solid  palette(grey, dark);
 display: inline-block;
 padding: 12px 18px 12px 10px;
 margin: 0px -1px 20px 0;
 @include fontSize(15px);

   @include element(name) {
     margin-right: 4px;
     font-weight: $fwb;
   }

}
.performance-metric-unit__delete-icon svg{
 fill: palette(red,base);
 width: 10px;
 position: relative;
 left: 12px;
}

#new-metric-name {
 display: block;


   @include tab {
     width:36%;
     display: inline-block;
     margin-right:-1px;
   }
}

.metric-select {
 background: #F9F9F3;
 border: 1px solid palette(grey, dark);
 height: 60px;
 padding: 0 20px;
 position: relative;
 top: 1px;
}
