///per agent stats

.agent-stats-wrapper{
  padding:0px 0px 130px;
  margin-top:-1px;
  .aspect-ratio {
    padding:20px 20px 50%;
    @include tab {
      padding:20px 20px 50%;
    }
    @include med {
      padding:20px 40px 50%;
    }
  }
}
