///DROPDOWN ADD RULES
.dropdown-title {
  color:#85649c;
  position: relative;
  box-shadow: inset 0 0 0 0 palette(bg,base);
  color: palette(purple, base);
  padding: 0 80px 0 20px;
  height:50px;
  line-height:50px;
  margin: 0;
  display:inline-block;
  @include fontSize(16px);
  text-transform: uppercase;
  cursor: pointer;
  //width: 100%;
  transition: all .3s ease-in;

  @include pretab {
    padding-left:40px;
  }

  &:hover {
    box-shadow: inset 0 0 0 100px #fdfdf9;
  }

  @include tab {
    width:auto;
    padding: 0 120px 0 20px;
    margin:40px;
    border:1px solid palette(grey, dark);
  }
}


.agent__new-rule .dropdown-title {
font-family: $heading-stack;
}
.dropdown__plus-icon{
  border-left: 1px solid palette(grey, dark);
  width: 50px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;

  svg.dropdown__plus-icon-svg {
    stroke: palette(purple, base);
    width: 14px;
    align-items: center;

  }
}

.dropdown-title--is-on svg.dropdown__plus-icon-svg {
   transform: rotate(45deg);
   stroke: palette(red, base);
}

.dropdown-title--is-on {
  border-bottom: none;
  margin-bottom: 0px;

}

.dropdown-options {
  @include animation('editModeOpen .3s ease-in forwards');
  z-index:1;
  background: lighten($main-bg, 1%);
  padding:0;
  margin-bottom:0;
  margin-top: 1px;
  border-top:1px solid palette(grey, dark);

  li {
    padding: 20px 20px;
    margin-bottom: 0 !important;
    border-bottom: 1px solid palette(grey, dark);
    margin-bottom: 16px;
    @include fontSize(14px);

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background: #FAFBF3;
      cursor: pointer;
    }

    a {
      display: block;
    }

    @include pretab {
      padding-left:40px;
    }

    @include tab {
      padding: 20px 60px;
    }
  }
}



.edit-mode {

  .dropdown-inline-rules {
    display: inline;
    padding: 0;
    position: relative;
    height: 0;
    color:palette(purple,light);
  }

  .dropdown__plus-icon {
    display: none;
  }

  .dropdown-title-inline {
    font-weight: $fwb;
    border: 1px solid palette(grey, dark);
    padding: 0px 20px;
    border: 1px solid #DCE0E4;
    margin: 0px 0px 10px;
    text-align: center;
    position: relative;
    top: 0px;
    @include fontSize(12px);
    text-transform: none;
    font-weight: 400;
    background: #FAFBF3;
    letter-spacing: .5px;
    background: #FAFBF3;

    @include tab {
      @include fontSize(13px);
    }
  }

  .dropdown-title--is-on{
    position: relative;
  }

  .dropdown-inline-rules__options {
    border: none;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3000;

    &:before {
      content: "";
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #FFFEF7;
      position:absolute;
      top: -1px;
      left:calc(50% - 10px);
      z-index:200;
      filter: drop-shadow(0px 1px 0 palette(grey,dark));
    }

    li{
      padding: 5px 10px;
      display: block;
      border: none;
      border: 1px solid palette(grey, dark);
      margin-top: -1px;
      text-align: center;
      @include fontSize(12px);
    }
  }
}
