.tut-bar-wrapper {
	@include animation('fadeInDown .4s ease-in');

	cursor: pointer;
	height: 54px;
  line-height: 50px;
  margin: 0 0 3px;
  padding: 0px;
  position: relative;
  top: 0px;
  z-index: 100;
	background:#F7F8EE;
	z-index: 100;
	border: 1px solid palette(grey,dark);
	border-left: #FFFDF2 1px solid;
	border-right: #FFFDF2 1px solid;
	border-bottom: none;

	@include tab {
		height: 68px;
	  line-height: 70px;
	}
}

.continue-tuts-bar{
	width: calc(100% - 79px);
	cursor: pointer;
  height: 50px;
  line-height: 50px;
	border-bottom: none;
  position: relative;
	display: block;
	@include animation('basicSlideDown 1.25s linear');

	@include tab {
		text-align: center;
		height: 70px;
	  line-height: 70px;
	}

	@include element(outer) {
		padding: 0px 0px;
		position: relative;
		background:#F7F8EE;
	}

	@include element(text) {
		@include fontSize(8px);
		padding-left: 20px;
		color: #473d4e;
		letter-spacing: 1px;
		@include animation('fadeIn .8s ease-in');
		@include tab {
			@include fontSize(12px);
			letter-spacing: 2px;

		}

	}
}

.close-tut-bar{
	@include animation('fadeSlideInLeft .3s ease-in');
	display: inline-block;
	height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 54px;
	@include tab {
		height: 70px;
		width: 78px;
	}


	.DeleteCross {
		@include centerer;
		fill: palette(red,base);
		width:11px;

		@include tab {
			width:14px;
		}
	}
}

.tut-bar-wrapper-is-closed{
  display: none;
}
